version: 2.1

executors:
  maven-executor:
    docker:
      - image: cimg/openjdk:24.0.2

jobs:
  build:
    executor: maven-executor
    steps:
      - checkout
      - run:
          name: Create Maven settings.xml with GitHub Token
          command: |
            mkdir -p ~/.m2
            cat > ~/.m2/settings.xml \<<EOF
            <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
                      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                                  http://maven.apache.org/xsd/settings-1.0.0.xsd">
              <servers>
                <server>
                  <id>github</id>
                  <username>patrickweingartz</username>
                  <password>${GITHUB_TOKEN}</password>
                </server>
              </servers>
            </settings>
            EOF
      - run:
          name: Verify Maven Installation
          command: mvn -version
      - run:
          name: Run Maven Tests
          command: mvn test -U
      - setup_remote_docker:
          version: 20.10.7
      - run:
          name: Build Docker Image
          command: docker build -t githubscoringserviceapi .
      - run:
          name: Login to AWS ECR
          command: |
            aws ecr get-login-password --region eu-central-1 | docker login --username AWS --password-stdin 962349671273.dkr.ecr.eu-central-1.amazonaws.com
      - run:
          name: Tag Docker Image
          command: docker tag githubscoringserviceapi:latest 962349671273.dkr.ecr.eu-central-1.amazonaws.com/githubscoringserviceapi:latest
      - run:
          name: Push Docker Image to ECR
          command: docker push 962349671273.dkr.ecr.eu-central-1.amazonaws.com/githubscoringserviceapi:latest

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
