version: 2.1

jobs:
  build_and_push:
    docker:
      - image: cimg/base:2022.05
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Run Maven Tests
          command: mvn test
      - run:
          name: Build Docker Image
          command: |
            docker build -t $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/githubscoringserviceapi:latest .
      - run:
          name: Login to AWS ECR
          command: |
            echo $AWS_SECRET_ACCESS_KEY | docker login -u AWS --password-stdin $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com
      - run:
          name: Push Docker Image
          command: |
            docker push $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/githubscoringserviceapi:latest

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build_and_push
