version: 2.1

executors:
  maven-executor:
    docker:
      - image: cimg/openjdk:24.0.2

jobs:
  build:
    executor: maven-executor
    steps:
      - checkout
      - run:
          name: Create Maven settings.xml with GitHub Token
          command: |
            mkdir -p ~/.m2
            cat > ~/.m2/settings.xml \<<EOF
            <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
                      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                                  http://maven.apache.org/xsd/settings-1.0.0.xsd">
              <servers>
                <server>
                  <id>github</id>
                  <username>patrickweingartz</username>
                  <password>${GITHUB_TOKEN}</password>
                </server>
              </servers>
            </settings>
            EOF
      - run:
          name: Verify Maven Installation
          command: mvn -version
      - run:
          name: Run Maven Tests
          command: mvn test -U

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
