version: 2.1

jobs:
  build-service:
    docker:
      - image: cimg/openjdk:17.0
    steps:
      - checkout

      - run:
          name: Configure Maven
          command: |
            mkdir -p ~/.m2
            cp .circleci/settings.xml ~/.m2/settings2.xml

  test:
    docker:
      - image: cimg/openjdk:17.0
    steps:
      - checkout

      - run:
          name: Run Unit & Integration Tests
          command: |
            mvn clean verify

  deploy:
    docker:
      - image: cimg/openjdk:17.0
    steps:
      - checkout
      - run:
          name: Deploy Application
          command: echo "Deploy to ECS"

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - test:
          filters:
            branches:
              only: main

      - deploy:
          requires:
            - test
          filters:
            branches:
              only: main
