version: 2.1

executors:
  maven-executor:
    docker:
      - image: cimg/openjdk:24.0.2

jobs:
  build:
    executor: maven-executor
    steps:
      - checkout
      - run:
          name: Verify Maven Installation
          command: mvn -version
      - run:
          name: Run Maven Tests
          command: mvn test

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
