version: 2.1

jobs:
  build:
    docker:
      - image: cimg/openjdk:17.0
    steps:
      - checkout
      - run:
          name: Configure Maven
          command: |
            mkdir -p ~/.m2
            # Ensure the settings.xml file exists before copying
            if [ -f .circleci/settings.xml ]; then
              cp .circleci/settings.xml ~/.m2/settings.xml
            else
              echo 'settings.xml not found, skipping copy.'
            fi

workflows:
  version: 2
  build_and_test:
    jobs:
      - build