version: 2.1

jobs:
  settingskopieren:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - run:
          name: Copy settings.xml
          command: cp .circleci/settings.xml $HOME/.m2/settings.xml

workflows:
  version: 2
  copy-settings:
    jobs:
      - settingskopieren
