version: 2.1

jobs:
  build:
    docker:
      - image: cimg/openjdk:17.0
    steps:
      - checkout
      - run:
          name: Configure Maven
          command: |
            mkdir -p ~/.m2
            cp .circleci/settings.xml ~/.m2/settings2.xml

workflows:
  version: 2
  build_and_test:
    jobs:
      - build